<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardlist - Novo card</title>
    <link rel="stylesheet" href="/css/estilo.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
   
</head>
<body>
   <div class="titulo">
       CARDLIST - COLEÇÃO VIRTUAL
   </div>

    <fieldset class="border border-info" style="width: 50%;margin: 0px auto; padding: 20px;">
    <div class="flex-container">
    <form method="POST" action="/adicionar">
        
        <div class="subtitulo">
            PREENCHA TODOS OS CAMPOS
        </div>

        <div class="campo">
        <label for="nome"></label>
        <input type="text" name="nome" id="nome" placeholder="NOME" size="40" th:value="${card.nome}" />
        </div>

        <div class="campo">
        <label for="nivel"></label>
        <input type="text" name="nivel" id="nivel" placeholder="NÍVEL" size="40" th:value="${card.nivel}" />
        </div>

        <div class="campo">
        <label for="tipo"></label>
        <input type="text" name="tipo" id="tipo" placeholder="TIPO" size="40" th:value="${card.tipo}" />
        </div>

        <div class="campo">
        <label for="pontos">    </label>
        <input type="text" name="pontos" id="pontos" placeholder="PONTOS" size="40" th:value="${card.pontos}"/>
        </div>

        <input type="hidden" name="id" id="id" th:value="${card.id}"/>

        <div class="flex-container">
        <input class="btn btn-outline-success" type="submit" value="GRAVAR"/>
        </div>    
    </form>
    </div>
    </fieldset>
    <div class="botao-externo">
    <a href="/"><button type="button" class="btn btn-outline-secondary" > PÁGINA INICIAL</button></a>
    </div>



    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>