<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="/css/estilo.css"/>
    
</head>
<body>
   
    <fieldset class="index">
        <div class="titulo">
            CARDLIST - COLEÇÃO VIRTUAL
        </div>
    </fieldset>
    
    
    <div class="flex-container">
        <a href="/cadastro"><button>NOVO CARD</button></a>
        <a href="/cadastrados"><button>MOSTRAR TODOS</button></a>
    </div>
    
    



</body>
</html>